body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

svg {
  display: block;
  width: 20px;
}

:root {
  --primary:#D7D8C9;
  --secondary: #A4A68A;
  --tertiary: #F2BE24;
  --fourth: #57523E;
  --fifth: #D94C1A;
  --white: white;
  --black: black;
}
